.tags{
    display:flex;
    flex-direction: row;
}

.tagselector{
    display: inline;
    margin: 20px;
    cursor: pointer;
}

.tagselector.active{
    background-color: aqua;
}

#attractionsCategories {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.comment {
    background-color: #7C7972;
    padding: 20px;
}
