.tags{
    display:flex;
    flex-direction: row;
}

.tagselector{
    display: inline;
    margin: 20px;
    background-color: red;
    user-select: none;
    cursor: pointer;
}

.tagselector.active{
    background-color: aqua;
}
