.tags{
    display:flex;
    flex-direction: row;
}

.tagselector{
    display: inline;
    margin: 20px;
    user-select: none;
    cursor: pointer;
}

.tagselector.active{
    background-color: aqua;
}

#attractionsCategories {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#attractionsCategories div {
    width: 200px;
    height: 150px;
}
