/* Slideshow test */
.slide {
    display: none;
    width: 100%;
}

.slide img {
    width: 100%;
}

#slide1 {
    background-color: coral;
    display: block;
}
#slide2 {
    background-color: #0c9;
}
#slide3 {
    background-color: #333;
}

#prev, #next {
    height: 160px;
    width: 60px;
    display: block;
    background-color: rgba(240, 248, 255, 0.5);
    position: absolute;
    z-index: 1;
    margin-top: -275px;
    transition: 300ms;
}

#prev:hover, #next:hover {
    background-color: aliceblue;
}

#prev {
    left: 0;
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
}

#next {
    right: 0;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}
