body{
    font-family: 'Open Sans', sans-serif;
    background-color: red;
    margin: 0;
}

#content{

    display:flex;
    flex-direction: column;
    height: 100%;
}

header{
    height: 150px;
    background-color: aliceblue;
}

#logo {
    height: 150px;
}

#logo img {
    height: 120px;
    padding: 15px;
}

main{
    width: 60%;
    height: calc(100% - 200px);
    margin: 0 auto;
    background-color: aqua;
}

footer{
    height: 100px;
    background-color: yellow;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

copyright{

}

copyright::before{
    content: "©";
}

#bottomCorner_logo {
    bottom: 0;
    right: 0;
    position: fixed;
    height: 50px;
}

#bottomCorner_logo img {
    height: 40px;
    padding: 0 10px 10px 0;
}
