* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: lightgrey;
    margin: 0 0 100px;
}

#content{
    display:flex;
    flex-direction: column;
    height: 100%;
}

header {
    height: 100px;
    background-color: aliceblue;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}


#logo {
    height: 100px;
    float: left;
}

#logo img {
    height: 100px;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;

    text-align: center;
}

nav li {
    flex: auto;
}

nav a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    line-height: 100px;
    background-color: aliceblue;
    clip-path: polygon(15% 30px, 83% 35px, 87% 65px, 13% 70px);
}

nav a:hover {
    background-color: darkgrey;
}

main{
    max-width: 800px;
    width: 100%;
    min-height: 100px;
    margin: 50px auto;
    background-color: #29a329;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

footer{
    position: absolute;
    height: 100px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #539BC1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

copyright {

}

copyright::before{
    content: "©";
}

#bottomCorner_logo {
    bottom: 0;
    right: 0;
    position: fixed;
    height: 50px;
}

#bottomCorner_logo img {
    height: 50px;
    padding: 0 10px 10px 0;
    opacity: 0.7;
}
